body
{
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    font-weight: bold;
    line-height: 6rem;
}


.iconsContainer
{
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;

    .box
    {
        width: calc( (100% - (2 * 4 * 4rem) ) / 4 );
        border: 1px solid black;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem;
        background-color: white;
        flex-direction: column;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 3px 3px #888888;
    } 
}

#header_top
{
    height: 6rem;
}

#header_down
{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


i
{
    color: black;
    font-size: 3rem;
}
.labelSelect
{
    color: white;
    padding-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}